body {
    font-family: Roboto;
}

:root {
    --mostly-used-color: #212121;
    --second-level-color: #757575;
    --third-level-color: #eaeaea;
    --fourth-level-color: #2F303A;
    --fifth-level-color: rgba(255, 255, 255, 0.6);
    --sixth-level-color: #000000;
    --seventh-level-color: #F5F4FA;
    --eighth-level-color: #ffffff;
    --ninth-level-color: rgba(47, 48, 58, 0.8);
    --accent-color: #2196F3;
}

/* HEADER */
li {
    list-style-type: none;
}

.logo {
    color: var(--sixth-level-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
}

.web-word-logo {
    color: var(--accent-color);
}

.web-word-logo:hover, {
    color: var(--sixth-level-color);
}

.web-word-logo:focus {
    color: var(--sixth-level-color);
}

.navi {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.navi .main-menu-item {
    color: var(--mostly-used-color);
}

.navi .main-menu-item:hover {
    color: var(--accent-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

.navi .current {
    color: var(--accent-color);
}

.logo:visited {
    color: var(--sixth-level-color);
}
.logo:active {
    color: var(--sixth-level-color);
}

.email-link {
    color: var(--second-level-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.tel-number {
    color: var(--second-level-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}
/* HEADER END */

/* WORKS GALLERY - PORTFOLIO */
.button-works {
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.033em;
    text-align: center;
}

.button-works {
    background: var(--seventh-level-color);
    border: none;
    border-radius: 4px;
}

.button-works:hover {
    background: var(--accent-color);
    color: var(--eighth-level-color);
}
/* WORKS GALLERY - PORTFOLIO, END */

/* HERO */
.order-service {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.033em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}
.order-service {
    background: var(--seventh-level-color);
    border: none;
    border-radius: 4px;
}

.order-service:hover {
    background: var(--accent-color);
    color: var(--eighth-level-color);
}
/* HERO END */

/* ADVANTAGES */
.main-advantages {
    visibility: hidden;
}

h2 {
    color: var(--sixth-level-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.000;
}

.adv-header {
    color: var(--mostly-used-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.adv-description {
    color: var(--second-level-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,714;
    letter-spacing: 0.03em;
}

/* WORK DESCRIPTION - PORTFOLIO */
.work-type {
    color: var(--second-level-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 2.000;
    letter-spacing: 0.03em;
}

.work-description {
    color: var(--third-level-color);
}
/* WORK DESCRIPTION - PORTFOLIO, END */

.solutions {
    color: var(--eighth-level-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: var(--ninth-level-color);
}


/* WHAT WE DO */
.what-we-do {
    color: var(--mostly-used-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
}
/* WHAT WE DO, END */

/* OUR TEAM */
.our-team-section {
    background-color: var(--seventh-level-color);
}

.our-team {
    color: var(--mostly-used-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
}

.team-member {
    color: var(--mostly-used-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}

.team-member-job {
    color: var(--second-level-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;   
    letter-spacing: 0.03em;
}
/* OUR TEAM */

/* FOOTER */
.logo-bottom {
    color: var(--third-level-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
}

.logo-bottom-style {
    color: var(--accent-color);
}

.address-bottom {
    font-style: normal;
    color: var(--eighth-level-color);
}

.bottom-contact {
    color: var(--fifth-level-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.footer-text {
    text-transform: uppercase;
}

.footer-settings {
    background-color: var(--fourth-level-color);
}
/* FOOTER END */